<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= appName %></title>

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <%- webpack('cdn') %>
</head>
<body ng-cloak ng-app="<%= ngModule %>" ng-strict-di>
  <h1><%= appName %></h1>
  <div ui-view></div>

  <%- webpack('banner') %>
</body>
</html>
